<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender: Logs output to the console -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- File Appender: Logs output to a file -->
        <File name="FileAppender" fileName="application_devops.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>

    <Loggers>
        <!-- Root Logger: Logs all levels starting from DEBUG -->
        <Root level="debug">
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>
